.main {
    height: 100vh;
    
}

.input {
    border-radius: 25px;
    border: 1px solid rgb(145, 145, 145);
}

.addBtn {
    border-radius: 25px;

}

.deleteBtn{
    
}

.done {
    text-decoration: line-through;
}

.todo {
    border-radius: 25px;
}

.icons {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

input {
    margin-right: 10px;
}

@media (max-width: 480px){
    .formular {
    padding: 10px;
}

input {
    width: 100%;
    margin-left: 0!important;
    margin-bottom: 10px;
}

.addBtn {
    width:100%;
}
.todo-buttons{
    padding: 10px;
    display:flex;
    justify-content: center;
}
.todo-main{
    margin: 0px;
}
h1 {
    font-size: 40px;
    
}

}

